.new-note {
    background-color: orange !important;
}

.new-note td {
    background-color: orange !important;
}

#save-notes-btn{
    margin-left: 1rem;
}

tr.moyenne {
    border-bottom: solid black 3px;
    font-weight: bold;
}

.card, .media-list, .code-preview {
    border-radius: 15px !important;
}

body.rcc:not(.dark-theme) {
    .table-striped tbody tr:nth-of-type(odd) td {
        color: #000000 !important;
    }
}

body.rcc.dark-theme {
    .main-container {
        background-color: #19191B !important;
    }

    .topbar {
        background-color: #111113 !important;
    }

    .header {
        background-color: #222325 !important;
    }

    .card-header-actions {
        *:hover {
            color: #EEEEF0 !important;
        }
    }

    .breadcrumb > * {
        color: #B2B3BD !important;
    }
    
    .sidebar-header, .sidebar-navigation {
        background-color: #111113 !important;
    }

    .sidebar-navigation > .menu > .active > .menu-link {
        background-color: #1D2E61 !important;
        color: #EEEEF0 !important;
    }

    a, a:focus {
        color: #EEEEF0 !important;
    }

    a:hover {
        color: #B2B3BD !important;
    }

    .div_logo {
        background-color: inherit !important;
    }
    
    .div_logo > img {
        filter: none !important;
    }

    .card, .media-list, .code-preview {
        background-color: #292A2E !important;
        color: #EEEEF0 !important;
    }

    .card-body, .card-body p {
        background-color: #292A2E !important;
        color: #EEEEF0;
    }

    .nav-link {
        color: #EEEEF0 !important;
    }

    .bg-white, .media-new {
        background-color: inherit !important;
        
        * {
            color: #EEEEF0;
        }
    }

    table {
        --bs-table-color: #EEEEF0 !important;
        --bs-table-bg: #292A2E !important;
        border-color: #6C6E79 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-color-type: unset;
        --bs-table-bg-type: unset;
    }

    .table-striped tbody tr:nth-of-type(odd) td {
        background-color: #222325 !important;
    }

    .table > :not(caption) > * > * {
        color: #EEEEF0;
    }

    thead {
        background-color: #172448 !important;
    }

    tr.moyenne {
        border-bottom: solid #6C6E79 3px !important;
    }

    tr.moyenne td {
        color: #93B4FF !important;
    }

    .dropdown-menu, .dropdown-footer {
        background-color: var(--body) !important;

        * {
            color: #EEEEF0 !important;
        }
    }

    .dropdown-item {
        color: #EEEEF0 !important;
    }

    .badge > * {
        color: #EEEEF0 !important;
    }

    .bg-pale-success {
        background-color: inherit !important;
    }

    .alert-success {
        background-color: var(--colorSuccess) !important;
        color: white !important;
    }

    .alert-secondary {
        background-color: var(--colorSecondary) !important;
        color: #e8e6e3 !important;
    }

    .alert-danger {
        background-color: var(--colorDanger) !important;
        color: #e8e6e3 !important;
    }

    .alert-warning {
        background-color: var(--colorWarning) !important;
        color: #e8e6e3 !important;
    }

    .alert-info {
        background-color: var(--colorInfo) !important;
        color: #e8e6e3 !important;
    }

    svg text {
        fill: white !important;
    }

    .apexcharts-tooltip {
        background-color: var(--body) !important;

        span {
            color: white !important;
        }

        .apexcharts-tooltip-title {
            background-color: var(--body) !important;
            color: white !important;
        }
    }

    .apexcharts-menu {
        background-color: var(--body) !important;
        color: white !important;
    }

    #image-menu {
        filter: none !important;
    }

    #restaurant {
        background: var(--body);
        color: white;
    }

    .nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
    }
}