.new-note {
    background-color: orange !important;
}

.new-note td {
    background-color: orange !important;
}

#save-notes-btn {
    margin-left: 1rem;
}

tr.moyenne {
    border-bottom: solid black 3px !important;
    font-weight: bold !important;
}

.alert, .btn, .modal-content {
    border-radius: 10px !important;
}

.right-end {
    justify-content: flex-end !important;
}

input[type="search"] {
    height: 100% !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    transition: all .3s cubic-bezier(0, 0, 0.45, 1.50) !important;
    transition-property: width, border-radius !important;
    z-index: 1 !important;
    position: relative !important;
    background-color: var(--body) !important;
    color: #292A2E !important;
}

.search-bar {
    background-color: var(--body) !important;
    color: #292A2E !important;
}

input:not(:placeholder-shown) {
    border-radius: .7rem 0 0 .7rem !important;
    width: 100% !important;

    + button {
        display: block !important;
    }
}

label.search-label {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}

header > div.header-info > div.card-header-actions {
    display: flex !important;
    align-items: center !important;
    align-content: flex-end !important;
    justify-content: flex-end !important;
    flex-wrap: wrap !important;
    max-width: 50% !important;
}

.card-body {
    border-radius: 15px !important;
}

.topbar-btn {
    border-radius: 0 !important;
}

body.rcc:not(.dark-theme) {
    .table-striped tbody tr:nth-of-type(odd) td {
        color: #000000 !important;
    }

    .card, .media-list, .code-preview {
        border-radius: 15px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    }

    .topbar {
        background-color: #F8F9FA !important;
    }

    .header {
        background-color: #F8F9FA !important;
    }

    .sidebar-header, .sidebar-navigation {
        background-color: #F8F9FA !important;
    }

    .sidebar-navigation > .menu > .active > .menu-link {
        background-color: #3ebff0 !important;
        color: #4d5259 !important;
    }

    .menu-link {
        color: #4d5259 !important;
    }
}

body.rcc.dark-theme {
    .card, .media-list, .code-preview {
        border-radius: 15px !important;
        box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.1) !important;
    }

    .main-container {
        background-color: #19191B !important;
    }

    .topbar {
        background-color: #111113 !important;
    }

    .header {
        background-color: #222325 !important;
    }

    .card-header-actions {
        a:not(.btn-secondary):hover {
            color: #EEEEF0 !important;
        }
    }

    .breadcrumb > * {
        color: #B2B3BD !important;
    }

    .bg-white, .media-new {
        background-color: inherit !important;
        
        * {
            color: #EEEEF0;
        }
    }

    .sidebar-header, .sidebar-navigation {
        background-color: #111113 !important;
    }

    .sidebar-navigation > .menu > .active > .menu-link {
        background-color: #1D2E61 !important;
        color: #EEEEF0 !important;
    }

    a, a:focus {
        color: #EEEEF0 !important;
    }

    a:hover {
        color: #B2B3BD !important;
    }

    .div_logo {
        background-color: inherit !important;
    }

    .div_logo > img {
        filter: none !important;
    }

    .card, .media-list, .code-preview {
        background-color: #292A2E !important;
        color: #EEEEF0 !important;
    }

    .card-body, .card-body p {
        background-color: #292A2E !important;
        color: #EEEEF0 !important;
    }

    .nav-link {
        color: #EEEEF0 !important;
    }

    table {
        --bs-table-color: #EEEEF0 !important;
        --bs-table-bg: #292A2E !important;
        border-color: #6C6E79 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-color-type: unset;
        --bs-table-bg-type: unset;
    }

    .table-striped tbody tr:nth-of-type(odd):not(.new-note) td {
        background-color: #222325 !important;
    }

    .table > :not(caption) > * > * {
        color: #EEEEF0 !important;
    }

    thead {
        background-color: #172448 !important;
    }

    tr.moyenne {
        border-bottom: solid #6C6E79 3px !important;
    }

    tr.moyenne td {
        color: #93B4FF !important;
    }

    .dropdown-menu, .dropdown-footer {
        background-color: var(--body) !important;

        * {
            color: #EEEEF0 !important;
        }
    }

    .dropdown-item {
        color: #EEEEF0 !important;
    }

    .badge > * {
        color: #EEEEF0 !important;
    }

    .bg-pale-success {
        background-color: inherit !important;
    }

    .btn-secondary {
        color: #000000 !important;
    }

    .alert-success {
        background-color: var(--colorSuccess) !important;
        color: white !important;

        p {
            background-color: var(--colorSuccess) !important;
            color: white !important;
        }
    }

    .alert-secondary {
        background-color: var(--colorSecondary) !important;
        color: #e8e6e3 !important;

        p {
            background-color: var(--colorSecondary) !important;
            color: #e8e6e3 !important;
        }
    }

    .alert-danger {
        background-color: var(--colorDanger) !important;
        color: #e8e6e3 !important;

        p {
            background-color: var(--colorDanger) !important;
            color: #e8e6e3 !important;
        }
    }

    .alert-warning {
        background-color: var(--colorWarning) !important;
        color: #e8e6e3 !important;

        p {
            background-color: var(--colorWarning) !important;
            color: #e8e6e3 !important;
        }
    }

    .alert-info {
        background-color: var(--colorInfo) !important;
        color: #e8e6e3 !important;

        p {
            background-color: var(--colorInfo) !important;
            color: #e8e6e3 !important;
        }
    }

    svg text {
        fill: white !important;
    }

    .apexcharts-tooltip {
        background-color: var(--body) !important;

        span {
            color: white !important;
        }

        .apexcharts-tooltip-title {
            background-color: var(--body) !important;
            color: white !important;
        }
    }

    .apexcharts-menu {
        background-color: var(--body) !important;
        color: white !important;
    }

    #image-menu {
        filter: none !important;
    }

    #restaurant {
        background: var(--body) !important;
        color: white !important;
    }

    input[type="search"] {
        background-color: #EEEEF0 !important;
        color: #292A2E !important;
    }

    .search-bar {
        background-color: #EEEEF0 !important;
        color: #292A2E !important;
    }

    label.search-label {
        color: #292A2E !important;
    }

    .lookup-fullscreen {
        background-color: #292A2E !important;
        color: #EEEEF0 !important;

        input {
            color: #EEEEF0 !important;
        }
    }

    .form-control {
        background-color: #292A2E !important;
        color: #EEEEF0 !important;
        border-radius: 10px !important;
    }

    .lookup-results {
        background-color: #292A2E !important;
        color: #EEEEF0 !important;
    }

    .tab-pane {
        .card-body {
            background-color: #111113 !important;
            color: #EEEEF0 !important;
        }
    }
}
