.new-note {
    background-color: orange !important;
}

.new-note td {
    background-color: orange !important;
}

#save-notes-btn {
    margin-left: 1rem;
}

tr.moyenne {
    border-bottom: solid black 3px !important;
    font-weight: bold !important;
}

.alert, .btn, .modal-content {
    border-radius: 10px !important;
}

.right-end {
    justify-content: flex-end !important;
}

input[type="search"] {
    height: 100% !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    transition: all .3s cubic-bezier(0, 0, 0.45, 1.50) !important;
    transition-property: width, border-radius !important;
    z-index: 1 !important;
    position: relative !important;
    background-color: var(--body) !important;
}

.search-bar {
    background-color: var(--body) !important;
}

input:not(:placeholder-shown) {
    border-radius: .7rem 0 0 .7rem !important;
    width: 100% !important;
}

input:not(:placeholder-shown) + button {
    display: block !important;
}

label.search-label {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}

header > div.header-info > div.card-header-actions {
    display: flex !important;
    align-items: center !important;
    align-content: flex-end !important;
    justify-content: flex-end !important;
    flex-wrap: wrap !important;
    max-width: 50% !important;
}

.card-body {
    border-radius: 15px !important;
}

.topbar-btn {
    border-radius: 0 !important;
}

.new-note-checkbox {
    margin-right: 1rem !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
}

a.disabled {
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.4 !important;
}
